@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
html{
    background-color: black
}
*{
    color:green;
    font-family: 'Press Start 2P', cursive;
}
div{
    padding:10px;
}
input{
    background-color:black;
    border:none;
    font-size: 20px;
    vertical-align: 50%;
    border:solid 2px green;
    padding:1em;
    cursor: pointer;
}
input:hover{
    color:gold;
    border: gold solid 2px;
    box-shadow: 2px 2px 20px 3px gold inset;
}
button{
    background-color:black;
    border:none;
    font-size: 20px;
    vertical-align: 50%;
    border:solid 2px green;
    padding:1em;
    cursor: pointer;
    margin:0.5em;
}
button:hover{
    color:white;
    border: white solid 2px;
    box-shadow: 2px 2px 20px 3px white inset;
}
img{
    height:4em;
}
h2{
    vertical-align: center;
}
#goldCounter{
    font-size: 2.5em;
    color:gold;
}
.border{
    border:solid green 3px;
}
.red{
    color:red
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-column-gap: 1em; */
    grid-row-gap: 2em;
    text-align:center;
    width:90%;
    margin:auto;
}
.nested4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1em;
}
.nest{
    padding-bottom:1.5em;
}
.nest > p{
    margin:2em 0;
}
.nested2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 1em;
    align-items: center
}
.counter{
    display: inline-block;
}
.activities{
    text-align:left;
}
#activityLog{
    height: 15em;
    overflow-y: scroll;
}
#activityLog::-webkit-scrollbar{
    background-color:black;
}
#activityLog::-webkit-scrollbar-thumb{
    background-color:green;
}
#activityLog > div{
    margin:0;
    padding:0;
}





/* loader */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid green;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
    }
    100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
    }
}