<div class="container">

  <app-header></app-header>

  <div *ngIf="password.invalid && (password.dirty || password.touched)">
    <div *ngIf="password.errors.required" class="errorField">
      Password is required
    </div>
    <div *ngIf="password.errors.minlength" class="errorField">
      Passwords must be four characters
    </div>
  </div>
  <div *ngIf="username.invalid && (username.dirty || username.touched)">
    <div *ngIf="username.errors.required" class="errorField">
      Username is required
    </div>
  </div>

  <div class="border">
    <form (submit)="login()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" required minlength="1" maxlength="3" required id="username" [(ngModel)]="user.username"
          #username="ngModel">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" required minlength="4" maxlength="4" id="password" [(ngModel)]="user.password" #password="ngModel">
      </div>
      <input type="submit" value="log in">
    </form>
  </div>

</div>